/**
 * Ratio container
 *
 * For maintaining intrinsic ratios to prevent repaints
 */

.RatioContainer {
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative;

  img {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.RatioContainer--grey {
  background-color: $colour-grey-light-3;
}

.RatioContainer--white {
  background-color: $colour-white;
}

/* 3by2 ratio modifier */

.RatioContainer--3by2 {
  padding-bottom: 66.6666%;
}
