{
  "extends": "stylelint-config-suitcss",
  "rules": {
    "at-rule-name-case": "lower",
    "at-rule-name-space-after": "always-single-line",
    "at-rule-semicolon-newline-after": "always",
    "color-named": "never",
    "declaration-block-no-duplicate-properties": true,
    "declaration-no-important": true,
    "font-family-name-quotes": "always-where-recommended",
    "function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-url-quotes": null,
    "keyframe-declaration-no-important": true,
    "max-line-length": null,
    "no-duplicate-selectors": true,
    "no-extra-semicolons": true,
    "property-case": "lower",
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-operator-space-before": "never",
    "selector-class-pattern": [ "^(?:is)-[a-z][a-zA-Z0-9]*$|^(?!is)[a-zA-Z][a-zA-Z0-9]*(?:-[a-z][a-zA-Z0-9]*)?(?:--[a-z0-9][a-zA-Z0-9]*)?$", {
      "resolveNestedSelectors": true
    } ],
    "selector-max-empty-lines": 0,
    "selector-no-qualifying-type": true,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-pseudo-element-case": "lower",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-case": "lower",
    "selector-type-no-unknown": true,
    "shorthand-property-no-redundant-values": true,
    "string-no-newline": true,
    "unit-case": "lower",
    "unit-no-unknown": true
  }
}
