/**
 * Utilities
 *
 * Useful utilities classes
 */

/**
 * Hide only visually, but have it available for screenreaders
 */

.u-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * A clearfix solution
 */

.u-clearfix {

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.u-fullBleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
